---
layout: default
title: xuxn.github.io
paginate: 5
paginate_path: "blog/page:num"
---

{% include header.html %}
<h1>{{ page.title }}</h1>


<!-- 遍历后的文章 -->
{% for category in site.categories %}
<h2>{{ category | first }} <a href="#{{ category | first }}"></a></h2>
<ul class="arc-list">
    {% for post in category.last %}
        <li>{{ post.date | date:"%Y-%m-%d"}} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endfor %}


<!-- 分页链接 -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

{% include footer.html %}
 

